modules = ["nodejs-20", "postgresql-16"]
[nix]
channel = "stable-25_05"

[agent]
expertMode = true

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 8080
externalPort = 8080

[userenv]

[userenv.shared]
ADMIN_USERNAME = "Prof Zoula"
ADMIN_PASSWORD = "@#Laica2017"
ADMIN_SESSION_SECRET = "55aa2e05e25cf3bc660677e5020d158041c97e86318dae2dd0e09d5c91579431"
VITE_SUPABASE_URL = "https://jxubkuskszpzsllkbmzv.supabase.co"
ZOOM_URL = "https://us05web.zoom.us/j/81878578623?pwd=p4P7bcHRxdIqODdhp6AVybaXuvNJ8U.1"
GITHUB_PAT = "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"
